input[type="checkbox"]:checked + i {
  display: block;
}

/* tr {
  border-radius: 30px;
  background-color: red;
}

tr:hover {
  background-color: red;
}
tr:hover:td {
  background-color: white;
} */

td:first-child {
  border-left-style: solid;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
td:last-child {
  border-right-style: solid;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.zoom:hover {
  --tw-scale-x: 1.01;
  --tw-scale-y: 1.01;
  transform: var(--tw-transform);
  box-shadow: 0px 5px 25px #d7e4e7;
}
